 {% extends 'landing.html.twig' %}
 {% block headscripts %}
 {{ parent() }}
 <link href="{{ asset('css/paper/paper-dashboard.css') }}" rel="stylesheet" /> 
 {% endblock %}
{% block main_body %}
<div class="section section-light-nude" style="min-height: 75vh">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="header"><h3>FAQs - Teaching and School Practices Survey Tool</h3></div>
                    <div class="content">
                        <div class="row">
                            <div class="col-md-12">
                                <h4>What is the purpose of the survey tool?</h4>
                                <p>
                                    NZCER was commissioned by the Ministry of Education to develop the tool.  Based on evidence of efffective practice, the tool has been developed to provide robust information for school-based inquiry into teaching and school practices, and principal leadership.
                                </p>
                                <p>Communities of Learning ǀ Kāhui Ako will be able to use the tool across member schools. Each school will need to particpate individually and then on request. With the permission of member schools, NZCER will provide aggregate results which will provide you with information about strengths and areas for improvement, and will also provide your Communities of Learning ǀ Kāhui Ako with baseline data. To further faciltate discussion, schools may want to share their individual school data.</p>
                                <p>At a national level, over time, nationally aggregated data will be able to provide an overview of strengths and needs across our schooling system, and the impact of policies such as Communities of Learning ǀ Kahui Ako and Professional Learning and Development (PLD).</p>
                                <h4>What is being asked of participants?</h4>
                                <p>Teachers and the principal at your school will each be asked to complete a survey. The data is confidential and teachers responses remain anonomous.</p>
                                <p>Once the surveys are completed, the principal will be able to access the school reports.  You will then be able to inquire into the results and look for your school’s strengths and areas for improvement.</p>
                                <p>In successive years you can use the tool again and compare your results. This will allow you to see whether improvements or changes have been made, and whether there are new challenges you’d like to work on.</p>
                                <h4>How long will it take?</h4>
                                <p>The surveys will take between 10 and 20 minutes, depending on whether you have a teaching role. The survey is shorter (closer to 10 minutes) for staff in non-teaching positions, such as some senior leaders and some principals.</p>
                                <h4>Will the tool be available whenever we want to use it?</h4>
                                <p>The tool is only available during terms 2 and 3 of the school year. Schools can choose when they would like to particpate, and they can set their own timeframes for completion. </p>
                                <h4>What does the tool consist of?</h4>
                                <p>The tools consists of the following:<br/>
                                    Two Surveys
                                    <ol>
                                        <li>One survey for the principal</li>
                                        <li>One for all teachers at all year levels (including non-teaching senior leaders).</li>
                                    </ol>
                                    
                                </p>
                                <p>
                                    Once the surveys have been completed, the principal (or principal appointed administrator) can download three reports which show the results for your school<br/>
                                    Three Reports.
                                    <ol>
                                        <li>Teaching practices</li>
                                        <li>School practices</li>
                                        <li>Principal leadership</li>
                                    </ol>
                                
                                </p>
                                <p>Each report comprises a series of bar graphs showing the results. These are for you to discuss and use for inquiry into the practices at your school. The reports do not interpret the results for you.</p>
                                <p>Supporting information and advice on how to use the reports which can be found on the main wesbite www.tspsurveys.org.nz</p>
                                <h4>What is the focus of the surveys?</h4>
                                <p>The questions in the surveys ask about the following domains. These domains are based on evidence of effective practice.
                                    <br/>Teaching practices:
                                    <ul>
                                        <li>Optimising students’ opportunities to learn</li>
                                        <li>Diversity, equity and inclusion</li>
                                        <li>Learning-focused partnerships</li>
                                        <li>Teacher inquiry</li>
                                        <li>Being professional</li>
                                    </ul> 
                                    School Practices:
                                    <ul>
                                        <li>School goals</li>
                                        <li>Supportive and caring environment</li>
                                        <li>Coherent curriculum and evaluation</li>
                                        <li>Learning-focused partnerships</li>
                                        <li>Strategic resource allocation</li>
                                        <li>Developing professional practice</li>
                                    </ul> 
                                    Principal Leadership questions are not grouped by domain. This section asks about a number of effective practices.
                                </p>
                                <h4>Is it compulsory? Do I have to do this?</h4>
                                <p>No. Particpaton is voluntary. Your school principal has volunteered for the school to participate. Individual teachers can say “no” if they want to. You don’t need to give or have a reason.</p>
                                <h4>I am having problems registering? I can’t get the surveys to work?</h4>
                                <p>Please contact us at tspsurveys@nzcer.org.nz for support</p>
                                <p>We will either respond by email or arrange a time to talk to you by phone. Professional support is being provided by experienced teachers and IT technicians to ensure the smooth running of the survey tool.</p>
                                <h4>Will I be able to see my own responses afterwards?</h4>
                                <p>Yes, there is a function at the end of the survey where you can download your own information. It’s on the very last page of the survey. We hope this information will help you think about your own practices.</p>
                                <h4>We are a small school. Will I as the principal be able to identify the responses of my staff?</h4>
                                <p>The standard report will be provided to any schools with five or more teachers completing the survey.  The report will not identify individual teachers. For example three teachers may respond that they do a particular practice well, and two further teacher may respond that they do so ‘somewhat well’. </p>
                                <p>A reduced report is created for schools where three or four teachers have responded. These reports will show an average/median on a scale. </p>
                                <p>For schools with one or two teacher responses, no reports will be provided.  We recommend that in these schools, teacher(s) downloads their responses as these could provide valuable information for personal reflection. A teacher may also decide to share the information.</p>
                                <p>In 2018 the tool will allow schools and teachers to compare their results with the national picture, but this function.</p>
                                <h4>How is the survey related to my inquiry project and my appraisal?</h4>
                                <p>Individual particpants are able to download their own responses. We anticipate that this information will be useful for reflecting on your leadership, school and/or teaching practices.  It may provide you with things that you might like to focus on (as a teacher or across the school). However, responses are confidential, and you will be the only person who sees them. It is entirely up to you if you’d like to discuss with anyone else.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
{% block user_js %}
<script type="text/javascript">
$(document).ready(function(){
    $('#faq-nav a').addClass('active');
});
</script>
{% endblock %}