 {% extends 'landing.html.twig' %}
 {% block headscripts %}
 {{ parent() }}
 <link href="{{ asset('css/paper/paper-dashboard.css') }}" rel="stylesheet" /> 
 {% endblock %}
{% block main_body %}
<div class="section section-light-nude" style="min-height: 75vh">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="header"><h3 class="myh3">Questions to ask of your data when you first get your reports</h3></div>
                    <div class="content">
                        <div class="row">
                            <div class="col-md-12">
                            <p>The <b>Big Questions</b> that this data can shed light on are: </p>
                            <p><ul>
                                <li>What happens in this school and what does it tell us about our practices – is everything consistent?</li>   
                                <li>How well embedded in the school are the things we’ve been working on? What are our next steps?</li>            
                                <li>How are the teachers seeing me?  How does that fit with what they see happening in the school? </li>
                                </ul></p>
                            <p>             
                                <i>In future years of doing the survey, you can add the question:</i>
                                <ul>
                                <li>Are we improving the teaching and school practices we value and have been working on? E.g., do more teachers say this practice is ‘very like this school’, or that they do something ‘very well’, than the previous time the school did the Teaching and School Practices survey?</li>
                                </ul>
                            </p>
                            <p>The reports will generally show you that there are a range of views in your school about teaching practices, school practices, and your leadership.</p>
                            <p>Very few principals or schools are going to be seen as going really well in everything they do.</p>
                            <h4 class="myh4"> Looking at the patterns in the data</h4>
                            <p>Most people find it helpful to print out the reports to have a close look at the patterns in the data, and to write down notes and thoughts along the way. </p>
                            <p>Work through all 3 reports: Teaching Practices, School Practices, and Principal Leadership.</p>
                            <p>Look at each domain on its own first:
                            <ul>
                                <li>
                                    How are teachers’ responses spread across the items?
                                    <ul>
                                        <li>
                                            Which items are the ones that many teachers think they or you are doing “very well” or that it is “very like our school”?
                                        </li>
                                        <li>
                                            Which items indicate room for growth?
                                        </li>
                                    </ul>
                                </li>
                                <li>
                                    Which are the school practice and leadership items where your own response differs from most teachers?
                                    <ul>
                                        <li>Why might this be so? </li>
                                    </ul> 
                                </li>
                            </ul>
                            </p>
                            <p>
                                Then look across the domains for items that are related, for example, the use of inquiry and the time for it.
                                <ul>
                                    <li>Do you get a similar picture from these related items?</li>
                                </ul> 
                            </p>
                            <p>
                                You might then think about the patterns you’re seeing within and across domains and ask questions like:
                                <ul>
                                    <li>Does the overall picture from the domains and items help you form some hypotheses, and help you identify things to work on?</li>
                                    <li>Are there different understandings of what a practice looks like, and of when it is happening well?</li>
                                    <li>Why are some teachers not seeing some of the work you and your leadership team do, or the connection with their classroom work?</li>
                                    <li>Why does your sense of what change is needed differ from some of your teachers?</li>
                                </ul> 
                            </p>
                            <h4 class="myh4">Testing your thinking to inform productive discussion and action</h4>
                            <p>You can test out your thoughts and interpretations with your leadership team or principal adviser, and possibly bring in other evidence about what is happening. This helps identify the practices and strategies that would be most fruitful to work on – in your leadership, in teaching practices, and in school practices. </p>
                            <p>Sharing this analysis, and thoughts about “where next”, with staff is important - thinking carefully about what you want to achieve through their discussion and input. You will need to say what you have taken from the leadership section. </p>
                            <p>You might also want to have teaching teams discuss the data amongst themselves, and bring together their insights and suggestions.</p>
                            <p>Discussion of the teaching practices and school practices allows you to
                                <ul>
                                    <li>Check and develop shared understandings of the school’s journey</li>
                                    <li>Share different knowledge and ideas on what would help that journey</li>
                                    <li>Identify the most fruitful ‘next steps’</li>
                                    <li>Inform planning, and review in future.</li>
                                </ul>
                           </p>
                           </div>
                           </div>
                           </div>
                </div>
            </div>
        </div>
    </div>
</div>
 {% endblock %}