 {% extends 'landing.html.twig' %}
 {% block headscripts %}
 {{ parent() }}
 <link href="{{ asset('css/paper/paper-dashboard.css') }}" rel="stylesheet" /> 
 {% endblock %}
{% block main_body %}
<div class="section section-light-nude" style="min-height: 75vh">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="header"><h3 class="myh3">School Practices and Principal Leadership</h3></div>
                    <div class="content">
                        <div class="row">
                            <div class="col-md-12">
                                <h4 class="myh4">School practices</h4>
                                <p>The School practices questions focus on practices that provide the conditions for effective teaching.</p>
                                <p>
                                    The six domains in this section are:
                                    <ul>
                                        <li>School goals</li>
                                        <li>Supportive and caring environment</li>
                                        <li>Coherent curriculum and evaluation</li>
                                        <li>Learning-focused partnerships</li>
                                        <li>Strategic resource allocation</li>
                                        <li>Developing professional practice</li>
                                    </ul>
                                </p>
                                <h4 class="myh4">Principal leadership</h4>
                                <p>The Principal leadership section focuses on how principals lead, including their relationships and moral compass.</p>
                                <h4 class="myh4">Sources</h4>
                                <p>We drew on three key sources to develop the domains and questions.</p>
                                <b>Educational Leadership Practices survey</b>
                                <p>NZCER offered the Educational Leadership Practices survey from 2009 to 2016. This was based on the Educational Leadership Best Evidence Synthesis (Robinson, Hohepa and Lloyd 2009) and the vision for New Zealand educational leadership set out in <i>Kiwi Leadership for Principals</i>. It was used in the Experienced Principals Development Programme, the First-Time Principals programme, and by individual schools and some school clusters. We had good information about the items in the survey from this use.</p>
                                <b>Recent research and formative indicators</b>
                                <p>We scanned more recent research literature on effective school leadership to see what further insight had been gained since 2009. We also looked at leadership standards and surveys designed for formative purposes. ERO’s <i>Leadership for Equity and Excellence</i> and <i>Professional Capability and Collective Capacity</i> domains in the School Evaluation Indicators were also relevant. </p>
                                <h4 class="myh4">Leadership for learning – the research</h4>
                                <p>There are four key strands in the research on effective school leadership that we have used to develop these sections.</p>
                                <b>Collaborative leadership for continuous development</b>
                                <p>Effective school leadership enables continual improvement or development through attention to collaborative leadership (Siguroardottir & Sigborsson 2016). Capable leadership is no longer a matter of simply steering a steady ship, or trying to be a heroic leader.</p>
                                <p>Without collective leadership, it would be difficult to be an effective principal in the current context. School practices need to grow and sustain <b>collective leadership</b>, foster <b>“professional community”</b> (Louis, 2015), and the capacity for <b>“organisational learning”</b>, “habituated searching for new information, processing and evaluating information with others, incorporating and using new ideas, and of generating ideas within the organisation as well as importing them from outside.” (Louis & Lee, 2016, p. 3).</p>
                                <b>Relationships are vital</b>
                                <p>Relationships are vital. The school professional community is not just analytic. Smylie, Murphy and Louis (2016) describe the key role of ‘caring leadership’.</p>
                                <p style="color: gray;margin-left: 20px;">"Our arguments about caring and caring leadership are not meant to diminish the importance of academic press. Competent and ethical support from caring with competent and ethical rigor and accountability make schools effective places for student learning (e.g., Allensworth et al. 2014; Bryk et al. 2010; Murphy and Torres 2014). We consider managing mutually reinforcing combinations of caring support and academic press to be a central function of school leadership (Sernak, 1998). … a reaffirmation that caring is at the heart of schooling.  (p. 2)"</p>
                                <p>Notman and Youngs (2016) also bring together these two aspects, and the still core role of the school principal. </p>
                                <p style="color: gray;margin-left: 20px;">"Results suggest that school leaders improve the quality of school learning through their change management and improvement strategies, and also by virtue of who they are–their values, dispositions and personal leadership competencies.  (p. 109)"</p>
                                <b>Equity-oriented leadership</b>
                                <p>Effective school leadership is also linked to moral and system purposes of meeting the needs of each student, shaping more equitable outcomes in terms of social disadvantage (Galloway and Ishimaru 2015, and the new U.S. Professional Standards for Educators 2015). Meeting student needs include ensuring that each student is known and feels cared for.</p>
                                <p>
                                    Galloway and Ishimaru (p. 16) describe three key levers for equity-oriented leadership:
                                    <ul>
                                        <li>An equity-oriented frame based on an “overall vision of excellence for every student”, not one based on deficit thinking, or thinking that treating all students alike is fairness</li>
                                        <li>Democratic, constructed leadership: “A shift from ’entity‘ conceptions of leadership (embodied in formal positions or particular individuals) to a relational ’constructionist‘ perspective on leadership, where the work of leadership is a process of social construction mediated through practices, meanings, and interactions among people over time”</li>
                                        <li>Inquiry-embedded leadership.</li>
                                    </ul>
                                </p>
                                <b>Coherence and synergy</b>
                                <p>Coherence and synergy also characterise effective leadership. Huff, Goldring, Preston, and  Guthrie (2014) discuss the linkages between resource allocation, school goals, professional learning, and teacher motivation and accountability. How practices are undertaken is now seen as important, so that they can serve several purposes simultaneously. Data use is “a mechanism to develop educators’ shared commitments to school goals and students and [at the same time] a mechanism for helping adults and students collaborate and receive feedback to continue ‘engaging’ in the work of schooling.” (p. 7).</p>
                                <p>Day, Gu & Sammons (2016) draw on Louis et. al (2010) to note that it is “synergy” between practices that allows large shifts in student learning, rather than practices in isolation, and that it is this synergy that is the particular responsibility of school leaders. Using case studies, they describe effective principals “layering” of strategic actions:</p>
                                <p style="color: gray;margin-left: 20px;">"placing relatively more or relatively less emphasis upon one or more at any given time and over time, in order to ensure school improvement. In doing so, the principal was demonstrating not only the possession and use of key values, qualities and skills (i.e. an ability to diagnose and problem solve, and an ability to exercise judgements about selection, timing, and combination of strategies which were sensitive to individual and organisational contexts) but also highly attuned cognitive and emotional understandings of the needs of individual staff and students and of the concerns of both national government and local community … they not only transformed the conditions and culture of a school, but more importantly, developed and transformed the people who shaped and were shaped by the culture."</p>
                                <h4 class="myh4">Fit with ERO School Evaluation Indicators</h4>
                                <p>
                                    ERO’s recent School Evaluation Indicators (Education Review Office, 2016) also have a focus on improvement, and equity. The Leadership for equity and excellence domain outlines six evaluation indicators which are consistent with the School Practices and Principal Leadership sections:
                                    <ul>
                                        <li>Collaboratively develops and pursues the school’s vision, goals, and targets for equity and excellence </li>
                                        <li>Ensures an orderly and supportive environment that is conducive to student learning and wellbeing</li>
                                        <li>Ensures effective planning, coordination and evaluation of the school’s curriculum and teaching</li>
                                        <li>Promotes and participates in teacher learning and development</li>
                                        <li>Builds collective capacity to do evaluation and inquiry for sustained improvement</li>
                                        <li>Builds relational trust and effective collaboration at every level of the school community</li>
                                    </ul>
                                </p>
                                <p>Another domain, Professional capability and collective capacity also includes indicators that are relevant to school leadership. These are consistent with the concepts of professional community and organisational learning that come through the research on effective school leadership.</p>
                                <h4 class="myh4">References</h4>
                                <p>Day, C., Gu, Q., & Sammons, P. (2016). The impact of leadership on student outcomes: How successful school leaders use transformational and instructional strategies to make a difference. Educational Administration Quarterly, 52 (2). 221–258. Retrieved from https://core.ac.uk/download/pdf/33575906.pdf </p>
                                <p>Education Review Office (2016). School Evaluation Indicators: Effective practice for improvement and learner success. Wellington: Author. Retrieved from http://www.ero.govt.nz/assets/Uploads/ERO-15968-School-Evaluation-Indicators-2016-v10lowres.pdf).</p>
                                <p>Galloway, M.K. & Ishimaru, A.M. (2015). Radical recentering: Equity in educational leadership standards. Educational Administration Quarterly,51(3), 372–408.</p>
                                <p>Huff, J., Goldring, E., Preston, C., & Guthrie, J. (2014). Learning-centred leadership practices for effective high schools serving at-risk students. The National Center on Scaling Up Effective Schools Schools</p>
                                <p>Louis, K. (2015). Linking leadership to learning: state, district and local effects. Nordic Journal of Studies in Educational Policy. NordSTEP 1:30321 DOI:http://dx.doi.org/10.3402/nstep.v1.30321</p>
                                <p>Louis, K. S. & Lee, M  (2016): Teachers’ capacity for organizational learning: the effects of school culture and context. School Effectiveness and School Improvement. 27(4), 534–556 http://dx.doi.org/10.1080/09243453.2016.1189437</p>
                                <p>National Policy Board for Educational Administration (2015). Professional Standards for Educational Leaders 2015. Reston, VA: Author. Retrieved from http://www.wallacefoundation.org/knowledge-center/Documents/Professional-Standards-for-Educational-Leaders-2015.pdf</p>
                                <p>Notman, R. & Youngs, H. (2016). Researching and evaluating secondary school leadership in New Zealand: The Educational Leadership Practices survey. Journal of Educational Leadership, Policy and Practice. 31(2), 108–120.</p>
                                <p>Robinson, V., Hohepa, M., & Lloyd, C. (2009). School Leadership and Student Outcomes: Identifying what works and why. Best Evidence Synthesis Iteration [BES]. Wellington: Ministry of Education. https://www.educationcounts.govt.nz/publications/series/2515/60169/60170</p>
                                <p>Siguroardottir, S. M. & Sigborsson, R. (2016). The fusion of school improvement and leadership capacity in an elementary school. Educational Management Administration & Leadership. 44(4), 599–616.</p>
                                <p>Smylie, M.A., Murphy, J., & Louis, K.S. (2016). Caring school leadership: A multi-disciplinary, cross-occupational model. American Journal of Education. 123(1),1–35.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
{% block user_js %}
<script type="text/javascript">
$(document).ready(function(){
    $('#more-about-nav a').addClass('active');
    $('#school-practices-nav').addClass('active');
});
</script>
{% endblock %}