 {% extends 'landing.html.twig' %}
 {% block headscripts %}
 {{ parent() }}
 <link href="{{ asset('css/paper/paper-dashboard.css') }}" rel="stylesheet" /> 
 {% endblock %}
{% block main_body %}
<div class="section section-light-nude" style="min-height: 75vh">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="header"><h3 class="myh3">Teaching practices</h3></div>
                    <div class="content">
                        <div class="row">
                            <div class="col-md-12">
                                <p>
                                    The Teaching Practices questions focus on five important domains in terms of effective teaching in the current New Zealand context.
                                    <ul>
                                        <li><a href="#sl">Optimising students’ opportunities to learn</a></li>
                                        <li><a href="#dei">Diversity, equity, and inclusion</a></li>
                                        <li><a href="#lfp">Learning-focussed partnerships</a></li>
                                        <li><a href="#ti">Teaching as inquiry</a></li>
                                        <li><a href="#bp">Being professional</a></li>
                                    </ul>
                                </p>
                                <p>Here we summarise the research and ideas behind each domain. We’ve also given some references if you want to read more.</p>
                                <a name="sl" class="anchor"><h4 class="myh4">Optimising students’ opportunities to learn</h4></a>
                                <p>
                                    This domain is about the opportunities for learning in our classrooms. Teaching quality is the biggest system influence on outcomes for students (Alton-Lee, 2003; Hattie, 2009). Highly effective instructional practices are described (in, for example: Coe, Akoisi, Higgins, & Major 2014; Hattie 2009; Reyes, 2015; Timperley, 2013), and these all point in the same direction. Hattie’s meta-analysis indicates there are some teacher practices that are more effective than others at improving learning, including:
                                     <ul>
                                        <li>paying deliberate attention to learning intentions and success criteria</li>
                                        <li>setting challenging tasks</li>
                                        <li>providing multiple opportunities for deliberative practice</li>
                                        <li>knowing when one (teacher and student) is successful in attaining these goals</li>
                                        <li>understanding the critical role of teaching appropriate learning strategies</li>
                                        <li>planning and talking about teaching</li>
                                        <li>ensuring the teacher constantly seeks feedback information as to the success of his or her teaching on the students. (Hattie 2009, p. 36)</li>
                                    </ul>
                                </p>
                                <p>We also looked at what students need in our rapidly changing world. Bolstad and Gilbert (2012) identify six overarching themes for future-oriented teaching and learning. One theme calls for rethinking teacher and learner roles, “to think about how learners and teachers would work together in a knowledge-building learning environment” (p. 4). Another theme is personalising learning, which requires the learner be at the heart of the system. These themes are taken further by Bull and Gilbert (2012, p. 5–6) who describe teachers as “learning coaches” who are skilled, advanced learners who support students to reach their learning goals and “actively interact with knowledge”.</p>
                                <a name="dei" class="anchor"><h4 class="myh4">Diversity, equity, and inclusion</h4></a>
                                <p>This domain is about how we respond to the different strengths and needs of all students in our classrooms. In the Best Evidence Synthesis (BES) Quality Teaching for Diverse Students in Schooling, Alton–Lee (2003) concludes that the central professional challenge for teachers is to manage simultaneously the needs of diverse students:</p>
                                <p style="color: gray;margin-left: 20px;">Diversity encompasses many characteristics including ethnicity, socio-economic background, home language, gender, special needs, disability, and giftedness. Teaching needs to be responsive to diversity within ethnic groups … [and] to recognise the diversity within individual students influenced by intersections of gender, cultural heritage(s), socio-economic background, and talent. (Alton-Lee, 2003, v)</p>
                                <p>This BES provides a useful frame for thinking about questions that relate to diversity, equity, and inclusion, in that it rejects the notion of a 'normal' group and 'other' or minority groups of children. It identifies attention to diversity and difference as a key part of quality teaching, honouring Articles 2 and 3 of the Treaty of Waitangi.</p>
                                <p>Gilbert (2005) extends this understanding by arguing that we need to abandon the ‘one-size-fits all’ approach, which provides students with the choice of being assimilated into the norm or failing in the education system, to a more personalised approach in which students can express themselves in different ways and still achieve success. The idea of Māori achieving success as Māori is consistent with such an approach.</p>
                                <p><i>Supporting future-oriented learning & teaching—a New Zealand perspective</i> (Bolstad et al., 2012) builds on these ideas of diversity, equity, and inclusion, arguing for the need to recognise diversity as a strength of any system, that we need to actively foster and teach.</p>
                                <p>Students need the ability to work with a diversity of people — because the changing global environment requires us to engage with people from many different backgrounds and world views — and to work with a diversity of ideas in order to solve increasingly complex, real-world challenges.</p>
                                <p>In two recent reports ERO (2015, 2016) draws attention to the associations they found between teacher commitment to equity, diversity, and inclusion and positive shifts in student learning outcomes.  One of the four aspects that ERO (2015) identifies as distinguishing successful from less successful and unsuccessful schools in shifting achievement is the explicit commitment to equity and excellence.</p>
                                <a name="lfp" class="anchor"><h4 class="myh4">Learning-focused partnerships</h4></a>
                                <p>This domain is about collaboration with parents, whānau, and members of the school and local community to support learning. The literature emphasises the importance for student learning of relationships between teachers and their students’ parents/whānau, and with members of the community (see for example, Alton-Lee, 2003; Bolstad et al., 2012; ERO, 2014; ERO, 2016). ERO (2013) found that teachers categorised as “highly effective” in accelerating the progress of priority learners “developed partnerships with parents and whānau to support students’ learning.”</p>
                                <p>Bolstad et al. (2012) argue that we now need new kinds of partnerships and relationships because 21st century learners need access to a wider range of resources and expertise than in the past. It is unlikely, they argue, that the wide range of expertise needed by 21st century learners could be held amongst the staff of a single school. Teachers will therefore need to collaborate with other people and groups who can provide access to specific kinds of expertise, knowledge, or learning opportunities. Bolstad et al. also highlight the importance of learning-focused partnerships so that parents, whānau and members of the public can understand and help to shape future-oriented approaches to education in the light of societal and economic changes. </p>
                                <a name="ti" class="anchor"><h4 class="myh4">Teaching as inquiry</h4></a>
                                <p>Inquiring into teaching and learning to improve teaching practices and student outcomes is effective if done well. The research literature also tells us that collaborative inquiry is one of the most effective ways of enabling teachers to make changes to their practice in ways that can positively impact on student learning (Clavel, Mendez, & Crespo, 2016; James & McCormick, 2009; Katz & Earl, 2010). There are many sets of guidelines and frameworks describing the steps needed for effective collaborative inquiry (eee, for example, Capacity Building Series, 2014; Donohoo, 2013; Timperley, Kaser, & Halbert, 2014.)</p>
                                <p>The literature also highlights the dispositions teachers need to effectively carry out collaborative inquiry and innovation such as the capacity to be curious, creative, adaptive, and disciplined (see, for example, Aitken, Sinnema, & Meyer, 2013; Earl & Timperley, 2015, Timperley, 2013; Timperley, Kaser, & Halbert, 2014).</p>
                                <p>Collaborative inquiry is important at the system as well as school and classroom levels if we are to crack persistent problems such as inequities in learning opportunities and outcomes for particular groups of students. Cracking these problems requires finding ways, not only of implementing current practices more effectively, but of developing new ways of meeting the needs and drawing on the resources of students for whom current practices—no matter how well they are implemented—are ineffective or even harmful. The literature tells us that such innovations are most likely to be found at a grassroots level, in the classrooms of curious and courageous teachers inquiring together into how to develop such innovations of practice. Charles Leadbeater, for example, argues from his work in local government that:</p>
                                <p style="color: gray;margin-left: 20px;">Next practices—emergent innovations that could open up new ways of working—are much more likely to come from thoughtful, experienced, self-confident practitioners working in partnership with other professionals and collectively trying to find new and more effective solutions to intractable problems. (Leadbeater, 2006)</p>
                                <a name="bp" class="anchor"><h4 class="myh4">Being professional</h4></a>
                                <p>This domain is about what it means to be a professional and to be part of the teaching profession. It seeks to capture the complexity of teacher decision-making based on teachers’ growing and changing bodies of knowledge, ways of being and the reciprocal relationships they have with their students and others. The literature suggests that “habits of mind” or “ways of being and knowing” as a teacher depends on continuous learning experiences. For example, Sinnema et al. (2017) argue that teachers need to be</p>
                                <p style="color: gray;margin-left: 20px;">meta-cognitive and self-regulated learners—able and inclined to “think about their thinking” in relation to the other inquiries and to actively initiate, motivate, and direct their own efforts to acquire knowledge and skills rather than rely on others for instruction. (Schunk & Zimmerman, 1994)</p>
                                <p>Darling- Hammond (2006) describes this process as “teachers increasingly becoming their own teachers and demonstrating the skills to learn from practice and also to learn for practice”. Hattie and others, such as Bolstad et al. (2012) and Bull and Gilbert (2012), also contend that teachers need to re-conceptualise their teaching roles if their students are going to become effective 21st century learners.  Existing ideas of teachers teaching and students learning need to be challenged so we capitalise on what we know about learning and how best to optimise it.</p>
                                <p>Schleicher (2015) argues for the importance of teachers’ self-efficacy in their work. There is evidence that teachers’ sense of self-efficacy—their belief in their ability to teach, engage students and manage a classroom—has an impact on student achievement and motivation, as well as on teachers’ own practices, enthusiasm, commitment, job satisfaction, and behaviour in the classroom.</p>
                               
                                <h4 class="myh4">References</h4>
                                <p>Aitken, G., Sinnema, C., & Meyer, F. (2013). Initial Teacher Education Outcomes: Standards for Graduating Teachers. A paper for Discussion. Wellington: Ministry of Education.</p>
                                <p>Alton-Lee, A. (2003). Quality Teaching for Diverse Students in Schooling: Best Evidence Synthesis. Wellington: Ministry of Education.</p>
                                <p>Bishop, R., & Berryman, M., (2009). The Te Kotahitanga Effective Teaching Profile. Set: Research Information for Teachers, 2, 27–33.</p>
                                <p>Bolstad, R., Gilbert, J., with McDowall, S., Bull, A., Boyd, S. & Hipkins, R. (2012). Supporting future-oriented learning & teaching—a New Zealand perspective, Report to the Ministry of Education. Wellington: Ministry of Education. Retrieved from http://www.educationcounts.govt.nz/publications/schooling/109306</p>
                                <p>Bull, A., & Gilbert, J. (2012) Swimming out of our depth? Leading learning in 21st century
                                    Schools. Wellington: New Zealand Council for Educational Research.</p>
                                <p>Coe, R., Aloisi, C., Higgins, S., & Major, E. (2014). What makes great teaching? Review of the underpinning research. UK: Centre for Evaluation and Monitoring. Retrieved from http://www.suttontrust.com/wp-content/uploads/2014/10/What-Makes-Great-Teaching-REPORT.pdf</p>
                                <p>Capacity Building Series. (2014). Collaborative Inquiry in Ontario. Special edition 39. http://www.edu.gov.on.ca/eng/literacynumeracy/inspire/research/CBS_CollaborativeInquiry.pdf</p>
                                <p>Darling-Hammond, L. (2010). Evaluating teacher effectiveness: How teacher performance assessments can measure and improve teaching. Centre for American Progress. Retrieved from www.americanprogress.org.</p>
                                <p>Donohoo, J. (2013). Collaborative inquiry for educators.  A facilitator's guide to school improvement. Retrieved from https://uk.sagepub.com/en-gb/eur/collaborative-inquiry-for-educators/book240425</p>
                                <p>Earl, L. & Timperley, H. (2015). Evaluative thinking for successful educational innovation. Education working paper no.122. OECD. Retrieved from www.oecd.org/edu/workingpapers</p>
                                <p>Education Review Office (2013). Accelerating the Progress of Priority Learners in Primary Schools. Wellington: Author.</p>
                                <p>Education Review Office (2014). Raising achievement in primary schools. Wellington: Author.</p>
                                <p>Education Review Office (2015). Raising student achievement through targeted actions. Wellington: Author.</p>
                                <p>Education Review Office (2016). School evaluation indicators: Effective practice for improvement and learner success. Wellington: Author.</p>
                                <p>Hattie, J. (2009). Visible Learning. A synthesis of over 800 meta-analyses relating to achievement. London, UK: Routledge.</p>
                                <p>Kane, T. & Staiger, D. (2010). Learning about Teaching: Initial Findings from the Measures of Effective Teaching Project. Seattle, WA: Bill & Melinda Gates Foundation. Retrieved from http://k12education.gatesfoundation.org/wp-content/uploads/2015/12/Preliminary_Findings-Research_Paper.pdf</p>
                                <p>Katz, S., Dack, L. & Earl, L. (2009). Networked learning communities: Fostering learning for teachers and the students. Principal Connections, 12, 3-12.</p>
                                <p>OECD. (2016). Global competencies for an inclusive world. Paris: Author. Retrieved from https://www.oecd.org/pisa/aboutpisa/Global-competency-for-an-inclusive-world.pdf</p>
                                <p>Reyes, G. (2015). Examining high leverage instructional practices that support equitable use of performance assessment at Summit Public Schools. Stanford, CA: Stanford Center for Assessment, Learning and Equity. Retrieved from https://scale.stanford.edu/sites/default/files/Summit%20PA%20practices_RESEARCH%20BRIEF_FINAL_9.9.15.pdf</p>
                                <p>Schleicher, A. (2015). Strengthening Teacher’s Sense of Effectiveness. Education Journal, 43, 1, pp. 1–33. Retrieved from  http://hkier.fed.cuhk.edu.hk/journal/wp-content/uploads/2015/07/EJ_V43N1_1-33.pdf</p>
                                <p>Sinnema, C., Meyer, F., & Aitken, G. (2017). Capturing the complex, situated, and active nature of teaching through inquiry-oriented standards for teaching. Journal of Teacher Education, 68(1), 9–27.</p>
                                <p>Timperley, H. (2013). Learning to practise. Wellington: Ministry of Education. Retrieved from www.educationcounts.govt.nz/publications/ECE/2511/learning-to-practise</p>
                                <p>Timperley, H., Kaser, L. & Halbert, J. (2014).  A framework for transforming learning in schools: Innovation and the spiral of inquiry. Centre for Strategic Education Seminar Series Paper No. 234, April 2014.   Retrieved from http://www.educationalleaders.govt.nz/Pedagogy-and-assessment/Evidence-based-leadership/Data-gathering-and-analysis/The-spiral-of-inquiry</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
{% block user_js %}
<script type="text/javascript">
$(document).ready(function(){
	$('#more-about-nav a').addClass('active');
    $('#teaching-practices-nav').addClass('active');
});
</script>
{% endblock %}