<div>Kia ora School Administrator (you may be the Principal or the person nominated by the Principal),</div>
<div>
    <p>Welcome to the Teaching and School Practices Survey Tool.</p>
    <p>This survey tool has been developed by NZCER to provide useful information for school inquiry, review, and development. The questions in the surveys come out of robust research on effective teaching and school practices and effective principal leadership. </p>
</div>
<div>Below is a draft email to send to all teaching staff and non-teaching senior leaders in your school.</div>
<div style="margin-top: 10px;">
<p>Ngā mihi nui,</p>
<div>NZCER Team</div>
<a href="mailto:tspsurveys@nzcer.org.nz">tspsurveys@nzcer.org.nz</a>
</div>

<p>
<div style="margin-top: 40px;">Kia ora,</div>
</p>
<div>
<p>Our school is using the Teaching and School Practices Survey Tool to find out about teaching practices, school practices, and principal leadership. This will be used for ongoing school development. We’d like as many teachers completing the survey as possible to give our school the best picture of our practices. Please complete the survey by       (date).</p>
<p>Here is your link to the teacher registration page. Once registered you will receive a Teacher survey link and unique password.</p>
<p>Teacher Registration Link:  <a href="{{ app.request.getSchemeAndHttpHost() ~ '/registersurvey/teacher/'~tid }}">{{ app.request.getSchemeAndHttpHost() ~ '/registersurvey/teacher/'~tid }}</a></p>
<p>At the end you can download a copy of your responses if you’d like to use them for reflection.</p>
<p>Your responses are entirely confidential. No-one at this school will know who you are. No individuals can be identified in the report that goes to our principal. Later this year NZCER will write a national report in which no individuals or individual schools will be identifiable.</p>
<p>You can stop at any point and return to the survey later to complete it. Just keep a note of your survey link and password in a separate place so you can access your survey.</p>
<p>If you would like to know any more about the Teaching and School Practices Survey Tool please go to <a href="https://www.tspsurveys.org.nz.">www.tspsurveys.org.nz.</a></p>
</div>
<div style="margin-top: 10px;">
<p>Ngā mihi nui,</p>
</div>