<div><p>Kia ora School Administrator (you may be the Principal or the person nominated by the Principal),</p></div>
<div><p>
    Welcome to the Teaching and School Practices Survey Tool.
</p></div>
<div>
<p>
   This survey tool has been developed by NZCER to provide useful information for school inquiry, review, and development. The questions in the surveys come out of robust research on effective teaching and school practices and effective principal leadership.
</p>
<p>
    We hope you have been able to provide your teaching staff with the initial information they require for getting themselves logged onto the survey site (see email with subject TSP Administrator instructions for Teacher Survey).
</p>
<p>
    This email gives you information about:
    <ul>
        <li>The details for logging onto the administration dashboard</li>
        <li>How to monitor the response rate in your school</li>
        <li>Where to download your school reports once enough teachers have completed the survey. </li>
    </ul>
</p>
<p>
    Here is your link to the Teaching and School Practices Survey Tool website and administrator login details. Please do not share these login details with staff as it is specifically for you as the School Administrator.
</p>
<p>Website: {{ url }}</p>
<p>Username: {{ email }}</p>
<p>Password: {{ pw }}</p>
<p>Keep this email so you have the password.</p>
</div>
<div>
<p>
    Once you are logged in you can use the dashboard to monitor how teachers have completed the survey in your school. Please use this access to keep an eye on progress. When you are happy with the number of responses you can view and print the school reports.
</p>
<p>
If you would like more information on how to read and use the reports please click <a href="https://www.tspsurveys.org.nz/how-to-read-reports">here</a>. Please note that reports are only available when your school has reached 3 or more teacher responses.
</p>
</div>
<div>If you have any queries please contact <a href="mailto://tspsurveys@nzcer.org.nz">tspsurveys@nzcer.org.nz.</a></div>
<div style="margin-top: 10px;">
<p>Ngā mihi nui,</p>
<div>NZCER Team</div>
<a href="mailto:tspsurveys@nzcer.org.nz">tspsurveys@nzcer.org.nz</a>
</div>