<div>Kia ora Principal,</div>
<div>
<p>Welcome to the Teaching and School Practices Survey Tool.</p>
<p>This survey tool has been developed by NZCER to provide useful information for school inquiry, review, and development. The questions in the surveys come out of robust research on effective teaching and school practices and effective principal leadership. Some of the questions are about aspirational practices.</p>
<p>The survey questions are consistent with the New Zealand Curriculum, ERO’s School Evaluation Indicators, and the draft Standards for the Teaching Profession. The survey tool is also designed to provide Kāhui Ako with a useful picture across their member schools.</p>
<p>
    In this email there is a password to the Principal survey (see below). There are three sections to the survey.
    <ul>
        <li> The section called ‘Your Teaching Practices’ asks about your teaching practices if you are a teaching principal..</li> 
        <li> The section called ‘School Practices’ asks about the school as a place that enables students to learn well.</li>
        <li> And the final section is about the principal’s leadership.</li>
    </ul>
</p>
<p>
    Here is your password for the Principal Survey. Click on your password to start the survey.
</p>
<p>Password: <a href="{{ url }}">{{ token }}</a></p>
<p>You can stop at any point and return to the survey later to complete it.</p>
<p>Keep this email so you can do so.</p>
<p>The survey will take between 10-20 minutes to complete depending on whether you also have a teaching role. Your responses will be visible in some of the reports. Only you have access to these reports. </p>
<p>No individual teachers can be identified in the reports you will get once teachers in your school have completed the survey. NZCER will write national reports in which no individuals or individual schools will be identifiable.</p>
<p>If you have chosen to be the School Administrator you will also receive emails about teacher registration, and accessing administration and reporting functions.</p>
<p>If you would like to know any more about the Teaching and School Practices Survey Tool please go to <a href="https://www.tspsurveys.org.nz">www.tspsurveys.org.nz.</a></p>
</div>

<div style="margin-top: 10px;">
<p>Ngā mihi nui,</p>
<div>NZCER Team</div>
<a href="mailto:tspsurveys@nzcer.org.nz">tspsurveys@nzcer.org.nz</a>
</div>