<div><p>Kia ora Principal,</p></div>
<div>
<p>
    Welcome to the Teaching and School Practices Survey Tool.
</p>
<p>This survey tool has been developed by NZCER to provide useful information for school inquiry, review, and development. The questions in the surveys come out of robust research on effective teaching and school practices and effective principal leadership. </p>
<p>This email gives you information about:
    <ul>
        <li>The details for logging onto the administration dashboard</li>
        <li>Where to download your school reports once enough teachers have completed the survey.</li>
    </ul>
</p>
</div>
<div><p>
    Here is your link to the Teaching and School Practices Survey Tool website and principal login details. Please do not share these login details with staff as it is specifically for you as the Principal and gives you access to your confidential reports. 
</p></div>
<div>
<p>Website: {{ url }}</p>
<p>Username: {{ email }}</p>
<p>Password: {{ pw }}</p>
<p>Keep this email so you have the password.</p>
</div>

<div>
<p>
    Once you are logged in you can use the dashboard to monitor how many staff have submitted responses for the survey in your school. Please use this access to keep an eye on progress and when you are happy with the number of responses you can view and print the principal reports. 
</p>
<p>
If you would like more information on how to read and use the reports please click <a href="https://www.tspsurveys.org.nz/how-to-read-reports">here</a>. Please note that reports are only available when your school has reached 3 or more teacher responses.
</p>
</div>
<div>If you have any queries please contact <a href="mailto://tspsurveys@nzcer.org.nz">tspsurveys@nzcer.org.nz.</a></div>
<div style="margin-top: 10px;">
<p>Ngā mihi nui,</p>
<div>NZCER Team</div>
<a href="mailto:tspsurveys@nzcer.org.nz">tspsurveys@nzcer.org.nz</a>
</div>