<div>Kia ora,</div>
<div>
<p>Welcome to the Teaching and School Practices Survey Tool. Your school is using the tool to get good information it can use for school inquiry, review, and development. </p>
<p>The survey questions come out of robust research on effective teaching and school practices and effective principal leadership. Some questions are about aspirational practices.</p>
<p>
    The survey questions are consistent with the New Zealand Curriculum, ERO’s School Evaluation Indicators, and the draft Standards for the Teaching Profession. The survey tool is also designed to provide Kāhui Ako with a useful picture across their member schools.
    <ul>
        <li>The more teachers who take part in the survey, the more use the results will be for their school</li>
        <li>Results for your school will be shared with you </li>
    </ul>
</p>
<p>
    In this email there is a password to the Teacher survey (see below). There are three sections to the survey.
    <ul>
        <li> The section called ‘Your Teaching Practices’ asks about your teaching practices.</li> 
        <li> The section called ‘School Practices’ asks about the school as a place that enables students to learn well.</li>
        <li> The final section is about the principal’s leadership.</li>
        <li>In addition, the survey also asks some questions about your role and teaching experience, and about your workload and morale.</li>
    </ul>
</p>
<p>
    Here is your password for the Teacher Survey. Click on your password to start the survey.
</p>
<p>Password: <a href="{{ url }}">{{ token }}</a></p>
<p>You can stop at any point and return to the survey later to complete it.</p>
<p>Keep this email so you can do so.</p>
<p>
If you would like to know any more about the Teaching and School Practices Survey Tool please go to <a href="https://www.tspsurveys.org.nz">www.tspsurveys.org.nz</a>.
</p>
</div>
<div style="margin-top: 10px;">
<p>Ngā mihi nui,</p>
<div>NZCER Team</div>
<a href="mailto:tspsurveys@nzcer.org.nz">tspsurveys@nzcer.org.nz</a>
</div>